<div class="gv-catalonia-map-wrapper">
	<div class="gv-tooltip-container">
		<div class="gv-tooltip-header-container"></div>
		<div class="gv-tooltip-content-container">
			<div class="gv-winner-counter">
				<div class="gv-winner-counter-header"></div>
				<div class="gv-winner-counter-value"></div>
			</div>
		</div>
	</div>
	<div class="gv-key-container">
		<div class="gv-key-header">Pro-independence share of vote by municipality</div>
		<div class="gv-key-bar"></div>
		<div class="gv-key-footer"></div>
	</div>
	<div class="gv-map-container"></div>
	<div class="gv-map-footer">Source: Generalitat de Catalunya</div>
</div>